body{
    background-image: radial-gradient(circle, #13161a, #04232c, purple, pink, salmon);
  }

#container {
    font-size: 32px;
    margin: 128px auto;
    width: 480px;
}
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    background-color: black;
    padding-top: 20px;
    }
input{
    width: 350px;
    padding-bottom: 15px;
    padding-top: 2px;
    margin-left: 10px;
}
#btnSup{
    background-color: salmon;
}
#btnEgal{
    background-color: salmon;
}

    .Calculatrice { grid-area: 1 / 1 / 6 / 5; }
    .Zone { grid-area: 1 / 1 / 2 / 4; 
    }
    .Supprimer { grid-area: 1 / 4 / 2 / 5; }
    .un { grid-area: 2 / 1 / 3 / 2; }
    .deux { grid-area: 2 / 2 / 3 / 3; }
    .trois { grid-area: 2 / 3 / 3 / 4; }
    .diviser { grid-area: 2 / 4 / 3 / 5; }
    .quatre { grid-area: 3 / 1 / 4 / 2; }
    .cinq { grid-area: 3 / 2 / 4 / 3; }
    .six { grid-area: 3 / 3 / 4 / 4; }
    .moins { grid-area: 3 / 4 / 4 / 5; }
    .sept { grid-area: 4 / 1 / 5 / 2; }
    .huit { grid-area: 4 / 2 / 5 / 3; }
    .neuf { grid-area: 4 / 3 / 5 / 4; }
    .plus { grid-area: 4 / 4 / 5 / 5; }
    .point { grid-area: 5 / 1 / 6 / 2; }
    .zero { grid-area: 5 / 2 / 6 / 3; }
    .egal { grid-area: 5 / 3 / 6 / 4; }
    .multiplier { grid-area: 5 / 4 / 6 / 5; }

    button{
    background-color: purple;
    padding: 14px 38px;
    cursor: pointer;
    /* box-sizing: content-box; */
    margin-left: 15px;
    text-align: center;
     border-radius: 8px;
     color: white;
    }
